<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <div class="col-sm-12">
                    <label for="from">From:</label>
                    <input id="from" #from type="text" class="form-control" value="Zurich" />
                </div>
            </div>
            <div class="col-sm-2">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <div class="col-sm-12">
                    <label for="to">To:</label>
                    <input id="to" #to type="text" class="form-control" value="Lucerne" />
                </div>
            </div>
            <div class="col-sm-2">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <div class="col-sm-12">
                    <button class="btn btn-sm pull-right" (click)="onSearchConnection(from.value, to.value)">Search Connection</button>
                </div>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>
<div class="col-sm-4">

</div>
<div class="row">
    <div class="col-sm-12" style="height: 50px">

    </div>
</div>

<div class="row">
    <div class="col-sm-2">
    </div>

    <div class="col-sm-8">
        <div class="col-sm-12">
            <table class="table">
                <tr *ngFor="#connection of connections;">
                    <td>
                        {{connection.from.location.name}}
                    </td>
                    <td>
                        {{connection.from.departure}} <br />
                    </td>
                    
                    <td>
                        Test 3
                    </td>
                </tr>
                <tr>
                    <td>
                        Test 1
                    </td>
                    <td>
                        Test 2
                    </td>
                    <td>
                        Test 3
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-sm-2">
    </div>




    <!--<div class="col-sm-12">
        <li *ngFor="#connection of connections;">{{connection.from.location.name}} {{connection.duration}}</li>
    </div>-->
</div>